*{
    font-family: 'Roboto', sans-serif;
}

body{
    background: #00499d;
    color: rgba(255 , 255 , 255);
}

.data{
    margin-top:10px;
    margin-bottom: 70px;
}

.redes_feeluy{
    height: 50px;
    width: 50px;
}

#title{
    height: 10px;
    font-weight: 600;
    margin-left: 35%;
}

#img_MARRZ_logo{
    height: 70px;
    width: 70px;
    top: 20px;
    left: 10px;
    position: absolute;
}

.img_portrait{
    margin-top: 100px;
    margin-left: 345px;
    margin-left: 10px;
}

h2{
    margin-top: 70px;
}

p{
    font-weight: bold;
}

#FU{
    height: 20rem;
    width: 20rem;
}

#interest_points{
    height: 500px;
    width: 1300px;
}
