*{
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f1b963;
    color: #141010;
}

.data{
    margin-top:10px;
    margin-bottom: 70px;
}

#ig_feeluy{
    height: 50px;
    width: 50px;
}

#title{
    height: 10px;
    font-weight: 600;
    margin-left: 45%;
}

#img_MARRZ_logo{
    height: 70px;
    width: 70px;
    top: 20px;
    position: absolute;
}

#img_portrait{
    margin-top: 70px;
    margin-left: 345px;
}

h2{
    margin-top: 70px;
}

p{
    font-weight: bold;
}

#uy_bleach{
    height: 300px;
    width: 900px;
}

#interest_points{
    height: 500px;
    width: 1300px;
}