*{
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f1b963;
    color: #141010;
}

.data{
    margin-top:10px;
    margin-bottom: 70px;
}

#ig_feeluy{
    height: 50px;
    width: 50px;
}

#title{
    height: 10px;
    font-weight: 600;
    margin-left: 45%;
}

#img_MARRZ{
    height: 100px;
    width: 100px;
}